.thing-form {
    margin: 20px 0;
}
.jumbo-main {
    text-align: center;
}
.jumbotron {
    background: #B4C7D6;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.alertContainer .data-placement {
  position: fixed;
  top: 20%;
}