.list-admin-users li {
  list-style: none;
  margin-bottom: 20px;
  text-align: left;
}
.list-admin-users button{
  margin-left: 10px;
}
.listing-images-admin img{
  max-height: 150px;
  max-width: 150px;
}
.listing-delete-btn button {
  margin-left: 15px;
}