.navbar-custom-internal a {
  color: #fff;
}
.navbar-inverse .navbar-logo {
  width: 140px;
}
.navbar-brand {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}


/*#main-nav .navbar-logo {
  width: 140px;
}

#main-nav .navbar-brand {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

#main-nav a   {
  font-size:18px;
  padding-bottom:30px;
  padding-top:30px;
}

#main-nav a:hover   {
  background:none;
}

/* header search form */
/*#main-nav .navbar-form  {
  padding-top:16px;
  padding-bottom:10px;
}*/