.navbar-custom-internal a {
  color: #fff;
}
.navbar-inverse .navbar-logo {
  width: 140px;
}
.navbar-brandi {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.gravatar-image {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
}