<div class="container">
<div class="row">
<div class="col-sm-10 col-xs-12">
   <!--  <div class="col-md-8 col-md-offset-2">  -->
      <div class="jumbotron"><p>This site provides information about countries and their capitals. Browse the list of countries by pressing the 'Browse Countries' button below. Click on any of the countries in the list to see more detailed information about that country.</p>
      <table>
        <tr>
          <td class="icon-fp">
            <i class="fa fa-flag fa-4x"></i>
          </td>
          <td class="icon-fp">
            <i class="fa fa-flag-checkered fa-4x"></i>
          </td>
          <td class="icon-fp">
            <i class="fa fa-flag-o fa-4x"></i>
          </td>
        </tr>
      </table><br>
      <a ui-sref="countries"><button type="button" class="btn btn-info btn-lg">Browse Countries</button></a>
    </div>
  </div>
</div>
</div>