.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.container{
    text-align: center;
}
img {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%
}
div .fixed {
    height: 200px;
}
.flag {
    border-style: solid;
    border-width: 1px;
}
.icon-fp{
    font-size: 40px;
    line-height: 40px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.icon-fp [class*='icon-']{
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
}
.table th, .table td {
    border-top: none !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D8D7C7;
}
.fixed-table .header-fixed {
  position: absolute;
  top: 0px;
/*  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 2px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.fixed-table{
  display:block;
  position:relative;
}
.fixed-table th{
  padding: 8px;
  line-height: 18px;
  text-align: left;
}
.fixed-table .table-content{
  display:block;
  position: relative;
  height: 520px; /*FIX THE HEIGHT YOU NEED*/
  overflow-y: auto;
}
.fixed-table .header-copy{
  position:absolute;
  top:0;
  left:0;
}
.fixed-table .header-copy th{
  background-color:#fff;
}