.listing-wrap {
  background:#FFF;
  border:1px solid #ECECEC;
  box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.15);
  padding: 0 30px 30px 30px;
}
.listing-images img  {
  border-radius:3px;
  margin-bottom:20px;
  max-height: 400px;
  max-width: 400px;
  -webkit-transition:all 35s ease-in-out;
  -moz-transition:all 35s ease-in-out;
  -o-transition:all 35s ease-in-out;
  transition:all 35s ease-in-out;
}
.listing-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.listing-description {
  font-size:16px;
  margin-bottom:20px;
}
.listing-comments {
  background:#FEFEFE;
  border-radius:3px;
  padding:20px;
}
.listing-comments .comment {
  padding-bottom:20px;
  padding-top:20px;
  border-bottom:1px solid #ECECEC;
}
.listing-extra {
  border: 7px solid #E4F3D9;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}
.listing-extra h1 {
  font-size: 22px;
  line-height:1.2;
  color: #333;
  margin: 0 0 15px;
}
.comment-button {
  margin-bottom: 30px;
}
.listing-extra li {
  list-style: none;
}
.date-small {
  font-size: 10px;
  color: blue;
}
.listing-extra-date {
  margin: 0 0 15px 15px;
}
.listing-date-display {
  font-size: 12px;
  color: black;
}
.listing-name-display {
  float: right;
  margin-right: 35px
}
.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}
.comments-div {
  margin-bottom: 10px;
}
.user-looks img{
  max-height: 40px;
  max-width: 40px;
}
.friends li {
  list-style: none;
  padding: 0 5px;
  display: inline;
  position: relative;
  float: left;
}
.friends img {
  width: 70px;
  margin-bottom: 10px;
}
.panel-title-friends {
  margin-top: 10px;
  text-align: center;
}
.viewCountListing {
  margin-right: 35px;
  margin-bottom: 5px;
  margin-top: 1px;
  font-size: 20px;
}
.icon-listing-view {
  margin-right: 20px;
  margin-bottom: 5px;
}
.icon-listing-like {
  margin-bottom: 5px;
  margin-left: 20px
}
.likeCountListing {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 10px
}