<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button"
                    class="close"
                    ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Your Look</h4>
      </div>

    <div class="modal-body" ng-show="content">
    <form ng-submit="addPost()"
              ng-model="formField"
              style="margin-top:30px">
      <h3>Find a Look</h3>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Title"
                  ng-model="look.title">
      </div>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Link URL  (Pinterest, Instagram)"
                  ng-model="look.link">
      </div>

      <div class="spinner"
             ng-show="loading">
        <img src="assets/images/spinner.gif">
      </div>

    <div class="col-md-6" id="alertContainer"></div>

  <div class="listing-details"
          ng-show="showForm">
      <div class="row">
        <label for="showForm"
                  class="col-xs-3">Image URL</label>
          <div class="col-xs-9">
          <input type="text"
                    class="form-control"
                    ng-model="look.imgThumb">
               </div>
          </div>
          <div class="row">
            <label for="description"
                      class="col-xs-12">Description</label>
            <textarea class="form-control"
                      rows="3"
                      ng-model="look.description">
                    </textarea>
                </div>
           <div class="form-group">
             <div class="listing-image">
                <img src="{{look.imgThumb}}"
                        class="img-thumbnail img-responsive">
              </div>
             </div>
      <button type="submit"
                  class="btn btn-primary">Submit</button>
      </div>
    </form>

        <div class="row row-centered" collapse="isUploadCollapsed">
          <div class="col-xs-6 col-centered col-max">
          <h4>Upload a Look</h4>
            <div class="item">
              <div class="content">
                <div class="well well-lg">
                  <div class="text-left">Upload File</div>
                  <div>
                    <input class="bottom-marg-15" type="file" name="file" file />
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                        {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                      </div>
                    </div>
                    <button id="loadButton" class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>