<!-- <div ng-include="'app/components/navbar/navbar.html'"></div>
 -->
<div class="container">
      <!-- Search, and Upload Button -->
      <div class="item-body"
          ng-show="scrapePostForm">
    <form ng-submit="addScrapePost()"
              style="margin-top:30px">
      <h3>Find an Item</h3>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Title"
                  ng-model="look.title">
      </div>
      <div class="form-group">
        <input type="text"
                  class="form-control"
                  placeholder="Link URL  (Pinterest)"
                  ng-model="look.link"
                  ng-disabled="gotScrapeResults">
      </div>

      <div class="spinner"
             ng-show="loading">
        <img src="assets/images/spinner.gif">
      </div>

    <div class="col-md-6" id="alertContainer"></div>

  <div class="listing-details"
          ng-show="showScrapeDetails">
        <div class="form-group">
          <div class="row listing-description-row">
            <label for="description"
                      class="col-xs-12">Description</label></div>
            <textarea class="form-control"
                           rows="3"
                           ng-model="look.description">
                    </textarea>
              </div>

           <div class="form-group">
             <div class="listing-image">
                <img src="{{look.imgThumb}}"
                        class="img-thumbnail img-responsive">
              </div>
             </div>
      <button type="submit"
                  class="btn btn-primary">Submit</button>
      <button type="button"
                  class="btn btn-default"
                  ng-click="$hide()">Cancel</button>
      </div>
    </div>
  </form>

      <div class="spinner"
             ng-show="loading">
        <img src="assets/images/spinner.gif">
      </div>

  <!-- Angular Grid -->
  <div class="container" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData' infinite-scroll-distance="0.1">
    <ul class="dynamic-grid angular-grid"
          angular-grid="looks"
          grid-width="250"
          gutter-size="10"
          angular-grid-id="gallery"
          refresh-on-img-load="true">
     <li data-ng-repeat="look in looks track by $index"
          class="grid"
          ng-cloak>
        <a ui-sref="look ({ lookId: look._id })"
            class="lookLink">
          <img ng-src="{{ look.image }}"
                  class="grid-img"
                  data-actual-width="{{ look.actualWidth }}"
                  data-actual-height="{{ look.actualHeight }}" />
          <div class="look-description-trim">
            {{ look.description.substr(0,100) }}
          </div>

          <div class="titleClass">
            {{ look.title }}
          </div>
        </a>
        <div class="social">
        <a href="#"
             class="like-look"
             ng-click="addVote(look)">
          <i class="fa fa-thumbs-o-up fa-2x icon-like"></i></a>
            <span class="likeCount">{{ look.upVotes }}</span>

            <span class="viewCount pull-right">{{ look.views }}</span>
          <i class="fa fa-eye fa-2x pull-right icon-views"></i>

        </div>
      </li>
    </ul>
    <div ng-show='busy'>Loading data...</div>
  </div>
</div>

<!-- Show All Looks Pre Angular Grid-->
<!-- <div class="panel panel-default">
       <div class="panel-body">
        <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">All Looks:
          <span class="label label-info">{{ looks.length }}</span> Looks</h1>
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
                ng-repeat="look in looks | filter:search">
            <li>
            <span class="input-group-addon">
            <a href="#"
                 ng-click="deleteLook(look)">
                 <span class="glyphicon glyphicon-remove pull-left"></span></a>
            <a ui-sref="look ({ lookId: look._id })"
                 data-title="{{look.title}}"
                 data-animation="am-flip-x"
                 bs-tooltip>{{ look.title }}</a></li>
            <li>
            <span class="input-group-addon listing-image">
            <a ui-sref="look ({ lookId: look._id })">
              <img class="thumbnail img-responsive"
                      ng-src="{{ look.image }}"></a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->