.edit-look {
  color: #1F1F14;
}

.icon-edit {
  margin-right: 10px;
}

.like-look {
  color: #333333;
}

.likeCount {
  font-size: 20px;
}

.icon-like {
  margin-left: 10px
}

.description-textarea {
  margin-left: 10px;
}

.title-input {
  margin-left: 10px;
}